<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">My Quiz Attempts
            </h1>

        </div>

    </div>
    <div class="-mx-4 mt-8 sm:-mx-0">
        <table class="min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Quiz
                    </th>
                    <th scope="col"
                        class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">QUS
                    </th>
                    <th scope="col"
                        class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">TM
                    </th>
                    <th scope="col"
                        class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">CA
                    </th>
                    <th scope="col"
                        class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Result
                    </th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>

                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>

                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>

                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-0">December 26,
                        2023

                        <div>
                            Write a short essay on yourself using the 5
                        </div>
                        <div>Student: John Due</div>
                    </td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">10</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
                        9</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">4</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span
                            class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Pass</span>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-6  text-right text-sm font-medium sm:pr-0  ">
                        <a href=" #" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay
                                Walton</span></a>
                    </td>
                </tr>




                <!-- More people... -->
            </tbody>
        </table>
    </div>
</div>